* {
    box-sizing: border-box;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.element {
    display: flex;
    justify-content: space-between;
}

.element:nth-child(n) {
    margin-right: 50px;
}

p {
    font-size: 30px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}


.cont {
    width: 650px;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(95,190,226);
background: linear-gradient(90deg, rgba(95,190,226,1) 0%, rgba(89,156,221,1) 42%, rgba(108,164,230,1) 100%);
    border-radius: 5%;
}

.cont::before {
    position: absolute;
    margin-top: 320px;
    margin-left: 300px;
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(161, 222, 243, 0.458);
}

.cont::after {
    width: 320px;
    height: 320px;
    
    margin-bottom: 200px;
    margin-left: 380px;
    content: "";
    border-radius: 50%;
    position: absolute;
    display: block;
    background-color: rgba(179, 225, 241, 0.458);
 
}